$azulMarino:#13A699;
$celeste:#AAF0D1;
$amarillo:#FFD708;
$GrisClaro:#FFF7ED;
$texto:gray;
$fuenteTitulo:Arial, Helvetica, sans-serif;
$fuenteTexto:"Helvetica",sans-serif;

$separacion:30px;

%noBorderPadding{
    margin: 0;
    padding: 0;
}